<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>"Aplikacja Taco Cloud</title>
        <link rel="stylesheet" th:href="@{/styles.css}" >
    </head>
    <body>
        <form method="POST" th:action="@{/orders}" th:object="${order}">
            <h1>Zmów przygotowane taco!</h1>

            <img th:src="@{/TacoCloud.png}" alt="obrazek taco">
            <a th:href="@{/design}" id="another">Przygotuj kolejne taco</a>
            <br>
            <div th:if="${#fields.hasErrors()}">
            
                <span class="validationErrors">
                    Usuń wymienione problemy i spróbuj ponowanie
                </span>
            </div>
            <h3>Adres dostarczenia taco</h3>
            <label for="name">Imie i nazwisko: </label>
            <input type="text" name="name" id="1" th:field="*{name}">
            <span class="validationErrors" 
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}" >To pole jest wymagane</span>
            <br>

            <label for="street">Ulica:</label>
            <input type="text" name="street" id="street">
            <span class="validationErrors"
                th:if="${#fields.hasErrors('street')}"
                th:errors="*{street}">To pole jest wymagane</span>
            <br/>

            <label for="city">Miejscowosc</label>
            <input type="text" name="city" id="city" th:field="*{city}">
            <span class="validationErrors" 
                th:if="${#fields.hasErrors('city')}"
                th:errors="*{city}" >To pole jest wymagane</span>
            <br>
            
            <label for="state">Województwo</label>
            <input type="text" name="state" id="state" th:field="*{state}">
            <span class="validationErrors" 
                th:if="${#fields.hasErrors('state')}"
                th:errors="*{state}" >To pole jest wymagane</span>
            <br>
            
            
            <label for="zip">Kod podcztowy</label>
            <input type="text" name="zip" id="zip" th:field="*{zip}">
            <span class="validationErrors" 
                th:if="${#fields.hasErrors('zip')}"
                th:errors="*{zip}" >To pole jest wymagane</span>
            <br>
            

            <h3>Sposób płatności</h3>
            <label for="ccNumber">Numer karty kredytowej</label>
            <input type="text" name="ccNumber" id="ccNumber" th:field="*{ccNumber}">
            	<span class="validationErrors" 
                th:if="${#fields.hasErrors('ccNumber')}"
                th:errors="*{ccNumber}" >Błędny numer karty kredytowej</span>
             
            <br>

            <label for="ccExpiration">Data ważności karty</label>
            <input type="text" name="ccExpirtaion" id="ccExpiration" th:field="*{ccExpiration}">
            	<span class="validationErrors" 
                th:if="${#fields.hasErrors('ccExpiration')}"
                th:errors="*{ccExpiration}" >Podaj prawidłowe dane</span> 
            <br>
            

            <label for="ccCVV">Kod CVV</label>
            <input type="text" name="ccCVV" id="ccCVV" th:field="*{ccCVV}">
            	<span class="validationErrors" 
                th:if="${#fields.hasErrors('ccCVV')}"
                th:errors="*{ccCVV}" >Podaj prawidłowe dane</span>
            <br>
            

            <input type="submit" value="Złóż zamówienie">

        </form>
    </body>
</html>
